* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
}

header, nav, article, div, footer {              
    background-color: yellow;   
    border: 1px solid gray;     
    text-align: center;         
    padding: 10px;    
}

header {
    width: 100%;
    height: 200px;
    background-color: rgb(173, 216, 253);

}

footer {
    width: 100%;
    clear: both;
    background-color: rgb(173, 216, 253);
    

}
nav{
    width: 20%;
    height: 200px;
    float: left;
    background-color: rgb(173, 216, 253);

}

article {
    width: 60%;
    height: 200px;
    float: left;
    background-color: rgb(223, 238, 252);

}

div {
    width: 20%;
    height: 200px;
    float: left;
    background-color: rgb(173, 216, 253);

}